body {
  background-color: #ece7dd;
  font-family: "LG Smart Regular", sans-serif;
}

.inner-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.comp-text {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.comp-container h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  line-height: normal;
}
.comp-container .copy {
  font-size: 16px;
  font-weight: 400;
  max-width: 460px;
  line-height: 1.5;
}

.comp-container .comp-right {
  display: flex;
  align-items: center;
}

.comp-right .left-img {
  display: none;
}

.left-img img {
  width: 360px;
  height: 360px;
}

.right-img {
  display: block;
}

/* .hide-on-mobile {
  display: none;
} */

@media (min-width: 500px) {
  .comp-right .left-img {
    display: none;
  }
}

@media (min-width: 1090px) {
  .inner-row {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .comp-right .left-img {
    display: none;
  }
}

@media (min-width: 1470px) {
  .comp-right .left-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 380px;
  }
}
