.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Roboto", sans-serif;
  gap: 200px;
  margin: 100px 0 200px 0;
}

.cta {
  a {
    width: 220px !important;
    height: 43px;
    font-size: 16px !important;
    color: white !important;
  }

  a[data-single-instance="true"] {
    width: 420px !important;
  }
}

.progress-bar {
  width: 111px;
}

.swiper-controls {
  max-width: 386px !important;
  left: 19%;
}

.swiper-controls__wrapper[data-state="playing"]
  .swiper-controls__pause::before {
  content: url("/assets/images/pause.svg") !important;
}

.swiper-controls__wrapper[data-state="paused"] .swiper-controls__pause::before {
  content: url("/assets/images/play.svg") !important;
}

.swiper-controls__pause::before {
  height: 30px !important;
  width: 30px !important;
}

.progress-bar.active {
  background-color: black;
  opacity: 1;
}

.right-img {
  margin-right: -2px;
}

.swiper-controls__pause:hover {
  background-color: #bdbdbd !important;
}

.select {
  width: 320px;
  height: 50px;
  border-radius: 8px;
  background-color: #f31221;
  border: none;
  color: white;
  position: relative;

  .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 13px 14px;
    font-size: 16px;
    cursor: pointer;
  }

  .arrow[data-open="true"] {
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
  .arrow[data-open="false"] {
    transform: rotate(0deg);
    transition: transform 0.3s;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .options {
    height: 0px;
    overflow: hidden;
    color: #101828;
    font-size: 16px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  }
  .options[data-open="true"] {
    height: auto;
    overflow: visible;
  }
  .option {
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-between;
  }

  .option:hover {
    background-color: #f2f2f2;
    cursor: default;
  }
  .option.selected::after {
    content: url("/assets/images/check.png");
    margin-top: 4px;
  }
}

/* modal */

.container-modal {
  display: none;
  align-items: center;
  justify-content: center;
  height: 130%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);

  &[data-open-modal="true"] {
    display: flex;
  }
  .modal {
    position: fixed;
    left: 5%;
    top: 5%;
    width: 90vw;
    height: 90vh;
    overflow: auto;
    display: none;
    &[data-open-modal="true"] {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .close-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(30, 30, 30, 0.6);

    svg {
      fill: #ccc;
      transition: fill 0.3s;
    }
  }

  .close-modal:hover {
    svg {
      fill: white;
    }
  }
}
