.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Roboto", sans-serif;
  gap: 200px;
  margin: 100px 0 200px 0;
}

.cta {
  a {
    width: 220px !important;
    height: 43px;
    font-size: 16px !important;
    color: white !important;
  }

  a[data-single-instance="true"] {
    width: 420px !important;
  }
}

.progress-bar {
  width: 111px;
}

.swiper-controls {
  max-width: 386px !important;
  left: 19%;
}

.swiper-controls__wrapper[data-state="playing"]
  .swiper-controls__pause::before {
  content: url("/assets/images/pause.svg") !important;
}

.swiper-controls__wrapper[data-state="paused"] .swiper-controls__pause::before {
  content: url("/assets/images/play.svg") !important;
}

.swiper-controls__pause::before {
  height: 30px !important;
  width: 30px !important;
}

.progress-bar.active {
  background-color: black;
  opacity: 1;
}

.right-img {
  margin-right: -2px;
}

.swiper-controls__pause:hover {
  background-color: #bdbdbd !important;
}

/* arrow */
.inputs {
  display: flex;
  align-items: center;
  gap: 16px;
}
.ok-btn {
  button {
    all: unset;
    width: 50px;
    height: 50px;
    background-color: #f31221;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  button:hover {
    cursor: pointer;
    background-color: #a60032;
  }

  button:active {
    transform: scale(0.95); /* Reduz o tamanho do botão quando pressionado */
  }

  button[data-selected="false"] {
    background-color: #bababa;
  }
}

/* select input */
.select {
  width: 350px;
  height: 50px;
  border-radius: 8px;
  background-color: #f31221;
  border: none;
  color: white;
  position: relative;

  .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 13px 14px;
    font-size: 16px;
    cursor: pointer;

    p {
      line-height: normal;
    }
  }

  .arrow[data-open="true"] {
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
  .arrow[data-open="false"] {
    transform: rotate(0deg);
    transition: transform 0.3s;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .options {
    height: 0px;
    overflow: hidden;
    color: #101828;
    font-size: 16px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  }
  .options[data-open="true"] {
    height: auto;
    overflow: visible;

    .option:last-child {
      padding: 10px 14px;
    }
  }

  .option {
    min-height: 44px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-between;
  }

  .option:hover {
    background-color: #f2f2f2;
    cursor: default;
  }
  .option.selected::after {
    content: url("/assets/images/check.png");
    margin-top: 4px;
  }
}

/* modal */
.container-modal {
  display: none;
  align-items: center;
  justify-content: center;
  height: 150%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);

  &[data-open-modal="true"] {
    display: flex;
  }
  .modal {
    position: fixed;
    left: 5%;
    top: 5%;
    width: 90vw;
    height: 90vh;
    overflow: auto;
    display: none;
    &[data-open-modal="true"] {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .close-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(30, 30, 30, 0.6);

    svg {
      fill: #ccc;
      transition: fill 0.3s;
    }
  }

  .close-modal:hover {
    svg {
      fill: white;
    }
  }
}

/* adriano */
.comp-container {
  background-color: #ece7dd;
  border-radius: 80px;
  max-width: 1600px;
  width: 100%;
  max-height: 599px;
  height: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background-image: url("/assets/images/blur-background.png");
  margin: 3% auto;
  user-select: none;

  &[data-option="true"] {
    background-image: url("/assets/images/blur-background2.png");
  }
}

.comp-text[data-option="true"] {
  color: white;
}

.comp-container .comp-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 7%;
  width: 50%;
}

.comp-container .comp-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 49%;
  overflow: hidden;
  border-radius: 0 80px 80px 0;
}

@media screen and (max-width: 950px) {
  .comp-container {
    flex-direction: column-reverse;
    align-items: normal;
    max-height: unset;
    background-image: none;
    margin: 0 auto;
    width: unset;
    justify-content: flex-end;
    padding: 16px;
    min-height: 1200px;

    &[data-option="true"] {
      background-image: none;
    }
  }

  .comp-container .comp-right {
    width: unset;
    overflow: unset;
  }

  .comp-container .comp-left {
    max-height: unset;
    height: unset;
    margin-bottom: 64px;
    width: 100%;
    padding-top: 5%;
    padding-right: 7%;
  }

  .comp-container .copy {
    max-width: unset;
  }

  .comp-text {
    margin-bottom: 40px;

    &[data-option="true"] {
      color: black;
    }
  }

  .right-img {
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 545px) {
  .comp-container {
    width: 100%;
    min-height: 900px;

    .comp-left {
      padding: 31px 24px 0 24px;
    }
  }

  .select {
    width: 100%;
  }

  .comp-text {
    h2 {
      font-size: 40px;
    }

    margin-bottom: 32px;
  }

  .options[data-open="true"] {
    padding-bottom: 14px;
  }
}
